<td ng-bind="$index+1"></td>
<td ng-bind="item.name"></td>
<td ng-bind="(item.industryList|industry)[0]"></td>
<td>{{item|city}}-{{item|county}}</td>
<td ng-bind="item|financingtype"></td>
<td ng-bind="item|Approved"></td>
<td ng-bind="item|Freezed"></td>
<td><a ui-sref="field.positionList({companyId:item.id,companyName:item.name})">职位</a>　<a data-toggle="modal"
                                                                                         data-target="#myModal"
                                                                                         ng-click="chioce(item,1)">{{item|ApprovedChange}}</a>　<a
        ng-click="chioce(item,3)" ng-if="edit">编辑</a>　<a class="a-danger" data-toggle="modal" data-target="#myModal"
                                                         ng-click="chioce(item,0)">{{item|FreezedChange}}</a>　<a
        class="a-danger" data-toggle="modal" data-target="#myModal" ng-click="chioce(item,2)" ng-if="del">删除</a></td>

