<td ng-bind="$index+1"></td>
<td ng-bind="item.companyName"></td>
<td ng-bind="item.name"></td>
<td ng-bind="item|category"></td>
<td ng-bind="item|compensation"></td>
<td ng-bind="item|education"></td>
<td ng-bind="item|experience"></td>
<td ng-bind="item.updateAt|date:'yyyy-MM-dd HH:mm:ss'"></td>
<td ng-bind="item|status"></td>
<td><a ui-sref="field.professionDetail({id:item.id,companyId:item.companyId})" ng-if="edit">编辑</a>　<a
        data-toggle="modal" style="color:red" data-target="#myModal" ng-click="chioce(item,4)">{{item|changeStatus}}</a>　<a
        class="a-danger" data-toggle="modal" data-target="#myModal" ng-click="chioce(item,5)" ng-if="del">删除</a></td>

