<form class="stat-widget   block  col-md-12 rest-pd-lr pd-t  " name="pwd" autocomplete="off">

    <div class="form-group col-md-6 col-md-offset-3 flex-wrap">
        <label>输入旧密码</label>
        <div class="col-xs-10">
            <input type="password" class="form-control " name="old" ng-model="vm.password.oldPwd" ng-minlength="6"
                   required>
        </div>

    </div>

    <div class="form-group col-md-6 col-md-offset-3 flex-wrap">
        <label class="col-xs-2 text-right rest-pd-lr">密码</label>
        <div class="col-xs-10">
            <input type="password" class="form-control " name="pwd1" ng-model="vm.password.newPwd" ng-minlength="6"
                   required>
            <span ng-show="pwd.pwd1.$touched&&pwd.pwd1.$invalid">请输入6位密码</span>
        </div>
    </div>

    <div class="form-group col-md-6 col-md-offset-3 flex-wrap">
        <label class="col-xs-2 text-right rest-pd-lr">密码确认</label>
        <div class="col-xs-10">
            <input type="password" class="form-control " name="pwd2" ng-model="vm.password.newPwdAgain" ng-minlength="6"
                   required>
            <span ng-show="vm.checkPwd&&vm.pwdDatail.pwd!==vm.newPwd||pwd.pwd2.$touched&&pwd.pwd2.$invalid">两次密码输入不一致</span>
        </div>
    </div>
    <div class="col-md-12 search-btn text-center">
        <button class="btn btn-danger" ng-disabled="pwd.$invalid" ng-click="vm.saveChange()">保存</button>
    </div>
</form>